@import "tailwindcss";

:root {
    --background: #ffffff;
    --baltic-sea: #262626;
    --bright-orange: #F85E00;
    --ghost-white: #F6FAFF;
    --cloud-burst: #182955;
}

@theme {
    --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ffffff;
    }
}
@media( max-width: 1028px ){
    .rm-br-lg {
        display: none;
    }
}
@layer utilities {
    .font-menu-items {
        font-size: 0.875rem;
    }
    .baltic-sea {
        color: var(--baltic-sea);
    }
    .bright-orange {
        color: var(--bright-orange);
    }
    .bg-bright-orange {
        background-color: var(--bright-orange);
    }
    .bg-ghost-white {
        background-color: var(--ghost-white);
    }
    .bg-cloud-burst {
        background-color: var(--cloud-burst);
    }
    .cloud-burst {
        color: var(--cloud-burst);
    }
}
body {
    background: var(--background);
    color: var(--foreground);
    font-size: 14px;
}
.con {
    animation: spin 30s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
.con > g {
    opacity: 0;
    animation: fade-in 1s ease forwards;
}
.con > g:nth-of-type(1) { animation-delay: 0s; }
.con > g:nth-of-type(2) { animation-delay: 1s; }

@keyframes fade-in {
    to { opacity: 1; }
}
@keyframes spin {
    to { transform: rotate(360deg); }
}
.burger-menu span:first-child{
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.burger-menu span:nth-child(2){
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.burger-menu span:last-child{
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
.burger-menu.open span:first-child{
    top: 8px;
    transform: translate(-50%, -50%) rotate(45deg);
}
.burger-menu.open span:nth-child(2){
    top: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
}
@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.animate-marquee {
    animation: marquee 15s linear infinite;
}

.dot-orange:before {
    content: "";
    background-color: var(--bright-orange);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}
.p-post-color p {
    color: #364153;
}